*.class
target/
logs/
transformed-apps/
test-output/
metrics/

# Package Files #
*.jar

# IDE Files #
.classpath
.project
.settings/
.idea/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

result.json

# unignoring jar files delivered as part of documentation, as sample code
!/docs/jar/*