*.class
target/
test-output/

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
.classpath
.project
.settings/
.idea/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# upgrade report and temporary files
platform-upgrade-debug.log
platform-upgrade-report.md
platform-upgrade-warn.log
pom.xml.bak*