<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
			<PatternLayout>
				<Pattern>[%d{HH:mm:ss.SSS}] [%highlight(%level)] %msg%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.paypal.butterfly" level="INFO" />
		<Root level="ERROR">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</configuration>
