<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <define name="logFile" class="com.paypal.butterfly.cli.logging.LogFileDefiner" />

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>uid</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <file>${logFile}-${uid}</file>
                <encoder>
                    <pattern>[%d{HH:mm:ss.SSS}] [%-4level] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.paypal.butterfly.cli" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="SIFT" />
    </root>

</configuration>